# Generic ignore patterns
*~
*.o
*.a
*.moc

# qmake stuff
*.pro
Makefile
/objects

# cmake stuff
/CMakeCache.txt
/cmake_install.cmake
/CMakeFiles
/build
Makefile

# Other Linux buildsystem
/bullet-2.*

# Logs etc.
/logs

# KDevelop
*.kdev4
.kdev_include_paths

# Windows project stuff
/Debug
/GeneratedFiles
*.ncb
*.suo
*.vcproj*.user

# Windows runtime
*.dll

# Windows clutter
*.db

# Objects and meshes
/models
