# Generic ignore patterns
*~
*.o
*.a
*.moc

# qmake stuff
*.pro
Makefile
/objects

# cmake stuff
/CMakeCache.txt
/cmake_install.cmake
/CMakeFiles
/build
Makefile

# Other Linux buildsystem
/bullet-2.*

# Logs etc.
/logs

# KDevelop
*.kdev4
.kdev_include_paths

# Windows project stuff
/Debug
/Release
/GeneratedFiles
*.ncb
*.suo
*.vcproj*.user

# Windows runtime
*.dll
*.exe

# Windows clutter
*.db

# Linux executables
/netlag

# Linux profiling
profile*
mem*
/gmon.out

# Objects and meshes and other game data
/data
/sound

# local configuration
localconfig.txt
mapeditorconfig.txt

# libraries
/include
/lib